<div *ngIf="versionGroups" class="container">
  <div class="row">
    <div *ngFor="let versionGroup of versionGroups"
         class="col-6 col-sm-4">
      <div>
        <button class="btn btn-primary" type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#versionGroup' + versionGroup.id"
                [attr.aria-expanded]="false"
                [attr.aria-controls]="'versionGroup' + versionGroup.id">
          {{versionGroup.name}}
        </button>
      </div>
      <div class="collapse"
           [id]="'versionGroup' + versionGroup.id">
        <div class="card card-body">
          <div *ngFor="let version of versionGroup.versions">
            {{version.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
